:root {
    --route-table-header-height: 4vh;
}

.route-table-container .container-body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.75vh;
}

/*
    We want the table header to be sticky so it stays visible while scrolling.
    Due to the fun limitations of tables, there isn't really any clean way of making only
    the table body scrollable.
 */
.route-table thead {
    position: sticky;
    top: 0;
    background-color: var(--tab-color);
    height: var(--route-table-header-height);
}

.route-table tbody .hovered-route {
    background-color: var(--hover-color);
}

.route-table tr:first-child, .route-table th, .route-table td {
    border-bottom: 1px solid var(--border-color);
}

.route-table th, .route-table td {
    font-weight: normal;
    padding-top: 0.75vh;
    padding-bottom: 0.75vh;
}

.route-table th:not(:first-child), .route-table td {
    border-left: 1px solid var(--border-color);
}

/* Since our scrollbar is attached to the entire table, we need to manually move it below the header. */
.route-table-scrollbar .ps__rail-y {
    margin-top: var(--route-table-header-height) !important;
}