:root {
    --tabs-height: 35px;
    --tabs-padding: 10px;
}

.tab-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    overflow: hidden;
    padding: 0;
    margin: 0;
    height: var(--tabs-height);
    list-style: none;
    background-color: var(--tab-color);
    text-align: center;
}

.tab-header {
    cursor: default;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
}

.tab-header:hover {
    background-color: var(--hover-color);
}

.tab-header:not(:last-child) {
    border-right: 2px solid var(--border-color);
}

.tab-header.selected-tab {
    background-color: var(--bg-color);
    border-bottom: 0;
}

.tab-content {
    padding-top: var(--tabs-padding);
    max-height: calc(100% - var(--tabs-height) - var(--tabs-padding));
}