:root {
    --hover-color: #555555;
    --bg-color: #444444;
    --tab-color: #333333;
    --border-color: #222222;

    --text-color: #d2d2d2;
}

#route-map {
    width: 80%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
}

#route-info {
    width: 20%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Lekton;
    border-left: 2px solid var(--border-color);
}