#route-map-container {
    width: 100%;
    height: 100%;
}

.route-map > .loading-text {
    font-weight: normal;
    font-size: 4vh;
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}