#filters {
text-align:center
}

#filters #find-button {
background-color:#383e42;
border:1px solid #2b2c2d;
color:#b6bdc6;
font-size:18px;
height:100%;
width:50%
}

#filters #find-button:disabled {
background-color:#202326;
color:#373a3d
}

#filters #find-button:hover {
background-color:#4f535b
}

#filters #find-center-div {
bottom:2%;
height:30px;
left:0;
position:absolute;
text-align:center;
width:100%
}

#filters #scrollable {
bottom:calc(2% + 60px);
overflow-y:scroll;
padding-top:40px;
position:absolute;
top:62.5px;
width:100%
}

#filters #speed-separator {
margin-bottom:40px
}

.box .label {
font-size:12px
}

#filters .box br {
margin-bottom:5px
}

#filters .field-separator {
margin-bottom:15px
}

.label {
color:#b6bdc6;
font-family:"Verdana";
font-size:14px
}

#filters input {
font-size:12px;
width:75%
}

#filters select {
background-color:#383e42;
border:1px solid #2b2c2d;
color:#b6bdc6;
font-size:12px;
width:75%
}

#mapDiv {
height:50%;
left:calc(50% + 275px / 2);
margin:0;
padding:0;
position:fixed;
top:50%;
width:calc(50% - 275px / 2)
}

#route-map-separator {
bottom:calc(50% - 8px);
left:calc(50% + 275px / 2);
position:fixed;
width:calc(50% - 275px / 2)
}

#route-selector {
background-color:#32353a;
height:50%;
left:275px;
position:fixed;
top:50%;
width:calc(50% - 275px / 2)
}

#route-selector #route-table {
padding:15px;
width:100%
}

#route-selector #route-table .route-data {
background-color:#393c42
}

.highlight {
background-color:#4f535b!important
}

#route-selector #route-table td {
color:#a1aab7;
font-family:"Verdana";
font-size:16px;
text-align:center
}

#route-selector #scrollable {
position:absolute;
margin:0;
width:100%;
height:100%
}

#route-selector #route-table th {
color:#b6bdc6;
font-family:"Verdana";
font-size:14px
}

#route-viewer {
background-color:#3d4047;
height:50%;
left:275px;
position:absolute;
top:0;
width:calc(100% - 275px);
text-align:center
}

#viewer-map-separator {
position:absolute;
margin:0;
top:0;
height:100%;
left:calc(275px / 2 + 50% - 2px)
}

#route-viewer #scrollable {
position:relative;
margin:0;
top:0;
width:100%;
height:100%;
flex:2
}

#route-viewer .content {
margin:10px 0
}

#route-viewer #departure {
display:flex;
flex-direction:column;
position:absolute;
top:0;
width:50%;
height:100%
}

#route-viewer #arrival {
display:flex;
flex-direction:column;
position:absolute;
top:0;
left:50%;
width:50%;
height:100%
}

#route-viewer #header-box .separator {
margin-bottom:0
}

#route-viewer #header-box {
flex:0 0 auto
}

#route-viewer #frequencies {
text-align:left;
width:60%;
margin:0 auto
}

#route-viewer #runways {
margin:0 auto;
width:90%
}

#route-viewer #runway-table {
width:100%
}

#route-viewer table {
padding-left:20px
}

#route-viewer th {
font-weight:400;
font-size:14px
}

#route-viewer td {
padding-left:20px;
padding-bottom:5px
}

#route-viewer .data-value {
font-family:"Verdana";
font-size:14px;
color:#8da1bc
}

#route-viewer #frequencies br {
margin-bottom:5px
}

#route-viewer .data-separator {
margin-bottom:15px
}

#route-viewer-separator {
position:absolute;
margin:0;
width:100%;
bottom:0
}

#route-viewer #departure:hover, #route-viewer #arrival:hover {
background-color: #3f4249
}

#sidebar {
background-color:#3d4047;
height:100%;
left:0;
position:fixed;
top:0;
width:273px
}

.header {
color:#b6bdc6;
font-family:"Verdana";
text-align:center
}

.box {
border:1px solid #474b54;
margin-left:20px;
margin-right:20px;
margin-top:3px;
padding-bottom:10px;
padding-top:10px
}

.ps > .ps__scrollbar-y-rail > .ps__scrollbar-y {
background-color:#676d77;
border-radius:0
}

.ps:hover > .ps__scrollbar-y-rail:hover {
background-color:#4f545b
}

hr {
background:#575f68;
border:none;
height:2px
}

hr#filter-separator {
margin-bottom:0
}

hr#sidebar-edge {
height:100%;
left:100%;
margin:0;
position:absolute
}

hr.vertical {
width:2px
}

input {
background-color:#383e42;
border:1px solid #2b2c2d;
color:#b6bdc6
}