#filters {
text-align:center
}

#filters #country-field {
display:flex;
margin:0 auto;
width:75%
}

#filters #find-button {
font-size:18px;
height:100%;
width:50%
}

#filters #find-center-div {
bottom:2%;
height:30px;
left:0;
position:absolute;
text-align:center;
width:100%
}

#filters #scrollable {
bottom:calc(2% + 60px);
overflow-y:scroll;
padding-top:40px;
position:absolute;
top:62.5px;
width:100%
}

#filters #speed-separator {
margin-bottom:40px
}

#filters .box {
align-items: center;
display: flex;
flex-direction: column
}

#filters .box .label {
margin-bottom: 5px;
margin-top: 5px
}

#filters .clear-country {
flex:1;
font-size:10px;
height:20px;
margin-left:10px;
padding:1px 0 0;
width:20px
}

#filters .field-separator {
margin-bottom:15px
}

#filters input {
font-size:12px;
width:75%
}

#filters select {
background-color:#383e42;
border:1px solid #2b2c2d;
color:#b6bdc6;
font-size:12px;
width:75%
}

#mapDiv {
height:50%;
left:calc(50% + 275px / 2);
margin:0;
padding:0;
position:fixed;
top:50%;
width:calc(50% - 275px / 2)
}

#route-map-separator {
bottom:calc(50% - 8px);
left:calc(50% + 275px / 2);
position:fixed;
width:calc(50% - 275px / 2)
}

#route-selector {
background-color:#32353a;
height:50%;
left:275px;
position:fixed;
top:50%;
width:calc(50% - 275px / 2)
}

#route-selector #route-table {
padding:15px;
width:100%
}

#route-selector #route-table .route-data {
background-color:#393c42
}

#route-selector #route-table td {
color:#a1aab7;
font-family:"Verdana";
font-size:16px;
text-align:center
}

#route-selector #route-table th {
color:#b6bdc6;
font-family:"Verdana";
font-size:14px
}

#route-selector #scrollable {
height:100%;
margin:0;
position:absolute;
width:100%
}

#route-viewer {
background-color:#3d4047;
height:50%;
left:275px;
position:absolute;
text-align:center;
top:0;
width:calc(100% - 275px)
}

#route-viewer #arrival {
display:flex;
flex-direction:column;
height:100%;
left:50%;
position:absolute;
top:0;
width:50%
}

#route-viewer #departure {
display:flex;
flex-direction:column;
height:100%;
position:absolute;
top:0;
width:50%
}

#route-viewer #departure:hover,#route-viewer #arrival:hover {
background-color:#3f4249
}

#route-viewer #frequencies {
margin:0 auto;
text-align:left;
width:200px
}

#route-viewer #frequencies td {
padding-left:20px
}

#route-viewer #freq-table {
margin: 0 auto
}

#route-viewer #frequencies br {
margin-bottom:5px
}

#route-viewer #header-box {
flex:0 0 auto
}

#route-viewer #header-box .separator {
margin-bottom:0
}

#route-viewer #runway-table {
width:100%
}

#route-viewer #runways {
margin:0 auto;
width:90%;
max-width: 400px
}

#route-viewer #scrollable {
flex:2;
height:100%;
margin:0;
position:relative;
top:0;
width:100%
}

#route-viewer .box {
margin-top: 5px!important
}

#route-viewer .content {
margin:10px 0
}

#route-viewer .data-separator {
margin-bottom:15px
}

#route-viewer .data-value {
color:#8da1bc;
font-family:"Verdana";
font-size:14px
}

#route-viewer td {
padding-bottom:5px
}

#route-viewer th {
font-size:14px;
font-weight:400
}

#route-viewer-separator {
bottom:0;
margin:0;
position:absolute;
width:100%
}

#sidebar {
background-color:#3d4047;
height:100%;
left:0;
position:fixed;
top:0;
width:273px
}

#viewer-map-separator {
height:100%;
left:calc(275px / 2 + 50% - 2px);
margin:0;
position:absolute;
top:0
}

.box {
border:1px solid #474b54;
margin-left:20px;
margin-right:20px;
margin-top:3px;
padding-bottom:10px;
padding-top:10px
}

.box .label {
font-size:12px
}

.ui-autocomplete {
font-size:12px;
background-color:#32353a;
color:#b6bdc6
}

.ui-menu.ui-widget-content {
border:1px solid #474b54
}

.header {
color:#b6bdc6;
font-family:"Verdana";
text-align:center
}

.highlight {
background-color:#4f535b!important
}

.label {
color:#b6bdc6;
font-family:"Verdana";
font-size:14px
}

.ps > .ps__scrollbar-y-rail > .ps__scrollbar-y {
background-color:#676d77;
border-radius:0
}

.ps:hover > .ps__scrollbar-y-rail:hover {
background-color:#4f545b
}

.selected {
background-color:#606570!important
}

button,input[type=submit] {
background-color:#383e42;
border:1px solid #2b2c2d;
color:#b6bdc6
}

button:disabled,input[type=submit]:disabled {
background-color:#202326;
color:#373a3d
}

button:hover,input[type=submit]:hover {
background-color:#4f535b
}

hr {
background:#575f68;
border:none;
height:2px
}

hr#filter-separator {
margin-bottom:0
}

hr#sidebar-edge {
height:100%;
left:100%;
margin:0;
position:absolute
}

hr.vertical {
width:2px
}

input {
background-color:#383e42;
border:1px solid #2b2c2d;
color:#b6bdc6
}

body {
overflow:hidden
}