.box {
    width: 15vw;
    align-self: center;
}

.box > label {
    text-align: center;
    display: block;
    padding-top: 25px;
    padding-bottom: 5px;
    font-size: 2.5vh;
}

.box .box-content {
    display: grid;
    row-gap: 10px;
    overflow: hidden;
    border: 1px solid var(--border-color);
    padding: 1.5vh;
}

.box .box-content label {
    font-size: 2.25vh;
    grid-column-start: 1;
    grid-column-end: 2;
}

.box .box-content input {
    font-size: 2.25vh;
    grid-column-start: 2;
    grid-column-end: 3;
}

.box .icao-input {
    width: 5vh;
}

.box .airport-type-input {
    width: 10vh;
}

.box .length-input {
    width: 8vh;
}

.box .countries-input {
    width: 15vh;
}

.time-inputs {
    width: 8vw;
}

.box .time-input {
    width: 6vh;
    margin-left: 1vh;
}

.find-routes-btn {
    margin-top: 3vh;
    width: 60%;
    align-self: center;
    font-size: 3vh;
    padding: 5px;
}