<!DOCTYPE html>
<html>
    <head>
        <title>Sim Route Finder</title>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=yes">
        <link rel="stylesheet" href="https://js.arcgis.com/4.4/esri/css/main.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.7.0/css/perfect-scrollbar.min.css">
        <link rel="stylesheet" href="/css/site.css">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.7.0/js/perfect-scrollbar.jquery.min.js"></script>
        <script src="https://js.arcgis.com/4.4/"></script>
        <script src="js/site.js"></script>
    </head>
    <body>
        <div id="sidebar">
            <hr class="vertical" id="sidebar-edge">
            <h3 class="header">Route Filters</h3>
            <hr id="filter-separator">
            <form id="filters">
                <div id="scrollable">
                    <span class="label">Mach Speed (required)</span>
                    <input type="text" name="mach" value="0.770" pattern="\.?\d*(\.\d+)?">
                    <br id="speed-separator">
                    <span class="label">Departure</span>
                    <div id="departure" class="box">
                        <span class="label">ICAO</span>
                        <br>
                        <input type="text" name="dep_icao" maxlength="4">
                        <br>
                        <span class="label">Type</span>
                        <br>
                        <select name="dep_type">
                            <option value="none"></option>
                            <option value="large">Large</option>
                            <option value="medium">Medium</option>
                            <option value="small">Small</option>
                            <option value="heliport">Heliport</option>
                            <option value="seaplanebase">Seaplane Base</option>
                            <option value="closed">Closed</option>
                        </select>
                        <br>
                        <span class="label">Runway Length</span>
                        <br>
                        <input type="text" name="dep_runway_len" placeholder="ex. >13000 or <10000" pattern="(<|>|=)?\d+">
                        <br>
                        <span class="label">Country</span>
                        <br>
                        <select name="dep_country">
                            {{#each countries}}
                            <option value="{{this.region.code}}">{{this.name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <span class="label">Arrival</span>
                    <div id="arrival" class="box">
                        <span class="label">ICAO</span>
                        <br>
                        <input type="text" name="arr_icao" maxlength="4">
                        <br>
                        <span class="label">Type</span>
                        <br>
                        <select name="arr_type">
                            <option value="none"></option>
                            <option value="large">Large</option>
                            <option value="medium">Medium</option>
                            <option value="small">Small</option>
                            <option value="heliport">Heliport</option>
                            <option value="seaplanebase">Seaplane Base</option>
                            <option value="closed">Closed</option>
                        </select>
                        <br>
                        <span class="label">Runway Length</span>
                        <br>
                        <input type="text" name="arr_runway_len" placeholder="ex. >13000 or <10000" pattern="(<|>|=)?\d+">
                        <br>
                        <span class="label">Country</span>
                        <br>
                        <select name="arr_country">
                            {{#each countries}}
                            <option value="{{this.region.code}}">{{this.name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <br>
                    <br>
                    <span class="label">Min Time</span>
                    <input type="text" name="min_time">
                    <br class="field-separator">
                    <span class="label">Max Time</span>
                    <input type="text" name="max_time">
                </div>
                <div id="find-center-div">
                    <input id="find-button" type="submit" value="Find">
                </div>
            </form>
        </div>
        <div id="route-viewer">
            <div id="departure">
                <div id="header-box">
                    <h3 class="header">Departure</h3>
                    <hr class="separator">
                </div>
                <div id="scrollable">
                    <div class="content">
                        <span class="label">Name</span>
                        <br>
                        <span id="name" class="data-value">n/a</span>
                        <br class="data-separator">
                        <span class="label">Frequencies</span>
                        <div id="frequencies" class="box">
                            <table id="freq-table">
                                <tr>
                                    <th class="label">ATIS</th>
                                    <td id="atis" class="data-value">n/a</th>
                                </tr>
                                <tr>
                                    <th class="label">Ground</th>
                                    <td id="ground" class="data-value">n/a</th>
                                </tr>
                                <tr>
                                    <th class="label">Tower</th>
                                    <td id="tower" class="data-value">n/a</td>
                                </tr>
                                <tr>
                                    <th class="label">Departure</th>
                                    <td id="dep" class="data-value">n/a</td>
                                </tr>
                                <tr>
                                    <th class="label">Approach</th>
                                    <td id="app" class="data-value">n/a</td>
                                </tr>
                            </table>
                        </div>
                        <br class="data-separator">
                        <span class="label">Runways</span>
                        <div id="runways" class="box">
                            <table id="runway-table">
                                <tr>
                                    <th class="label">Name</th>
                                    <th class="label">Length</th>
                                    <th class="label">Width</th>
                                    <th class="label">Open</th>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div id="arrival">
                <div id="header-box">
                    <h3 class="header">Arrival</h3>
                    <hr class="separator">
                </div>
                <div id="scrollable">
                    <div class="content">
                        <span class="label">Name</span>
                        <br>
                        <span id="name" class="data-value">n/a</span>
                        <br class="data-separator">
                        <span class="label">Frequencies</span>
                        <div id="frequencies" class="box">
                            <table id="freq-table">
                                <tr>
                                    <th class="label">ATIS</th>
                                    <td id="atis" class="data-value">n/a</th>
                                </tr>
                                <tr>
                                    <th class="label">Ground</th>
                                    <td id="ground" class="data-value">n/a</th>
                                </tr>
                                <tr>
                                    <th class="label">Tower</th>
                                    <td id="tower" class="data-value">n/a</td>
                                </tr>
                                <tr>
                                    <th class="label">Departure</th>
                                    <td id="dep" class="data-value">n/a</td>
                                </tr>
                                <tr>
                                    <th class="label">Approach</th>
                                    <td id="app" class="data-value">n/a</td>
                                </tr>
                            </table>
                        </div>
                        <br class="data-separator">
                        <span class="label">Runways</span>
                        <div id="runways" class="box">
                            <table id="runway-table">
                                <tr>
                                    <th class="label">Name</th>
                                    <th class="label">Length</th>
                                    <th class="label">Width</th>
                                    <th class="label">Open</th>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <hr id="route-viewer-separator">
        </div>
        <hr id="route-map-separator">
        <div id="route-selector">
            <div id="scrollable">
                <table id="route-table">
                    <tr>
                        <th>Departure</th>
                        <th>Arrival</th>
                        <th>Distance</th>
                        <th>Time</th>
                    </tr>
                </table>
            </div>
        </div>
        <hr id="viewer-map-separator" class="vertical">
        <div id="mapDiv"></div>
    </body>
</html>