.box {
    width: 15vw;
    align-self: center;
}

.box > label {
    text-align: center;
    display: block;
    padding-top: 25px;
    padding-bottom: 5px;
    font-size: 2.5vh;
}

.box .box-content {
    display: grid;
    row-gap: 10px;
    overflow: hidden;
    border: 1px solid var(--border-color);
    padding: 1.5vh;
}

.box .box-content label {
    font-size: 2.25vh;
    grid-column-start: 1;
    grid-column-end: 2;
}

.box .box-content input {
    font-size: 2.25vh;
    grid-column-start: 2;
    grid-column-end: 3;
}